<style>
/* Outer */
html.popupShown,
html.popupShown body.exit-promoter-modal{
    overflow: hidden !important;
}
.exit-promoter-modal .form-popup {
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
}
.exit-promoter-modal .modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: transparent;
}
/* Inner */
.exit-promoter-modal .popup-container{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin: 70px auto;
	min-height: -webkit-calc(100vh - (70px * 2));
    min-height: calc(100% - (70px * 2));
    position: relative;
    z-index: 2;
}
.exit-promoter-modal .popup-container:before {
    content: '';
    display: block;
    height: -webkit-calc(100vh - (70px * 2));
    height: calc(100vh - (70px * 2));
}
.exit-promoter-modal .form-popup-inner {
    max-width: 573px;
    min-height: 503px;
    width: 100%;
    padding: 60px 33px;
    position: relative;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.18);
	background-color: #f2f2f2;
    z-index: 2;
    margin: 0 auto;
}
/* Form CSS */
.exit-promoter-modal .form-wrapper form.mktoForm {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
    width: 100% !important;
	-webkit-justify-content: space-between;
	justify-content: space-between;
    max-width: 100%;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow {
	width: -webkit-calc(50% - 3.5px) !important;
	width: calc(50% - 3.5px) !important;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow.StateFormRow,
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow.CheckBoxFormRow{
    max-width: 100% !important;
    width: 100% !important;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow.TandC-row {
    max-width: 360px !important;
    margin: 5px auto 12px;
    width: 100% !important;
}
.exit-promoter-modal .mktoForm .mktoFormRow.CheckBoxFormRow {
    margin-top: 10px;
}
.exit-promoter-modal .mktoForm .mktoRequiredField label.mktoLabel{
    display: none !important;
}
.exit-promoter-modal .mktoForm .mktoFormRow.CheckBoxFormRow .mktoLogicalField {
    padding: 4px 0 !important;
}
.exit-promoter-modal .mktoForm .mktoFormRow.CheckBoxFormRow .mktoFieldWrap label{
	padding: 0;
}
.exit-promoter-modal .mktoForm .mktoFormRow.CheckBoxFormRow .mktoFieldWrap input {
    width: 15px !important;
    height: 15px;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormCol {
    margin-bottom: 6px !important;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow .mktoField {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    color: #a9a9a9;
    height: 45px;
    width: 100%;
    border: solid 1px #ededed;
    background-color: #ffffff;
    padding: 12px;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow input.mktoField{
    font-style: italic;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow select.mktoField{
    font-style: normal;
    padding-right: 32px;
    background-size: 7px 6px;
	background-position: center right -20px;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow select.mktoField,
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow select.mktoField:focus,
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow select.mktoField.mktoInvalid:focus{
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ServiceMax/Exit_Promoter/form-gray-downarrow.png");
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow select.mktoField.mktoInvalid {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ServiceMax/Exit_Promoter/form-red-downarrow.png");
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow select.mktoField.mktoValid {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ServiceMax/Exit_Promoter/form-black-downarrow.png");
}
.exit-promoter-modal .form-wrapper .mktoForm .StateFormRow select[name="State"].placeHolder:focus{
    border: solid 1px #31b700;
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ServiceMax/Exit_Promoter/form-gray-downarrow.png");
}
.exit-promoter-modal .form-wrapper .mktoForm .StateFormRow select[name="State"].placeHolder.mktoValid{
    border: solid 1px #f5330b;
    color: #aeaeae;
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ServiceMax/Exit_Promoter/form-red-downarrow.png");
}
.exit-promoter-modal .form-wrapper .mktoForm .StateFormRow select[name="State"].placeHolder.mktoValid:focus{
    color: #000000;
    border: solid 1px #31b700;
	background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ServiceMax/Exit_Promoter/form-gray-downarrow.png");
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow .mktoField::-moz-placeholder {
    font-style: italic;
    color: #a9a9a9;
    opacity: 1;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow .mktoField:-moz-placeholder {
    font-style: italic;
    color: #a9a9a9;
    opacity: 1;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow .mktoField::-webkit-input-placeholder {
    font-style: italic;
    color: #a9a9a9;
    opacity: 1;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow .mktoField:-ms-input-placeholder {
    font-style: italic;
    color: #a9a9a9;
    opacity: 1;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow .is-error-visible .mktoField,
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow .is-error-visible .mktoField:focus,
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow .mktoField.mktoInvalid{
    font-style: normal;
    border: solid 1px #f5330b;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow .is-error-visible select.mktoField.mktoInvalid{
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ServiceMax/Exit_Promoter/form-red-downarrow.png");
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow .mktoField:focus {
    font-style: normal;
    outline: none;
    border: solid 1px #31b700;
	color: #000000;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow .mktoField.mktoValid{
    font-style: normal;
	color: #212322;
	border: solid 1px #212322;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow .mktoField.mktoValid:focus{
    color: #000000;
    border: solid 1px #31b700;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow select.mktoField.mktoValid:focus{
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ServiceMax/Exit_Promoter/form-gray-downarrow.png");
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow.TandC-row .mktoHasWidth {
    text-align: center;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow.TandC-row span {
    font-size: 12px !important;
    line-height: 16px;
    color: #000000;
    font-weight: 300;
    text-align: center;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow.TandC-row u {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoButtonRow {
    width: 100%;
    text-align: center;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoButtonWrap .mktoButton {
    max-width: 383px;
    width: 100%;
    height: 54px;
    font-size: 16px !important;
    line-height: 22px;
    letter-spacing: 2.27px ;
    box-shadow: 0 3px 4px 0 rgba(139, 139, 139, 0.36) !important;
    overflow: hidden;
    margin: 0 auto !important;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoButtonWrap .mktoButton:focus {
    outline: none;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoButtonWrap .mktoButton .arrow{
    margin-right: 6px;
    display: block;
    border-style: solid;
    width: 0px;
    height: 0px;
    line-height: 0px;
    border-color: transparent transparent transparent rgb(255, 255, 255);
    border-width: 7.5px 0px 7.5px 13px;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoButtonWrap .mktoButton:hover{
	border: 1px solid #000066!important;
    background-color: #000066 !important;
    opacity: 1;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoButtonWrap .mktoButton span.first-text {
    transition: 0.5s;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoButtonWrap .mktoButton span.first-text,
.exit-promoter-modal .form-wrapper .mktoForm .mktoButtonWrap .mktoButton span.second-text{
	text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	line-height: 54px !important;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoButtonWrap .mktoButton:hover span.first-text{
    margin-top: -54px;
}
/* autofill */
@-webkit-keyframes autofill {
    to {
        background: #ffffff;
        color: #212322;
    }
}
form input:-webkit-autofill,
form input:-webkit-autofill:valid {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
@-webkit-keyframes selectautofill {
    to {
        background-color: #FFFFFF;
        background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ServiceMax/Exit_Promoter/form-black-downarrow.png");
        background-repeat: no-repeat;
        color: #212322;
    }
}
.exit-promoter-modal form select:-webkit-autofill,
.exit-promoter-modal form select:-webkit-autofill:valid {
    -webkit-animation-name: selectautofill;
    -webkit-animation-fill-mode: both;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
select::-ms-expand {
    display: none;
}
/* loader */
.exit-promoter-modal .loader p {
    text-align: center;
}
/**/
.exit-promoter-modal .popup-content img.logo {
    max-width: 220px;
    width: 100%;
    margin: 0 auto 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}
.exit-promoter-modal .modal-title{
	color: #000;
	font-size: 28px;
	text-align: center;
	margin-bottom: 15px;
}
.exit-promoter-modal .sub-text{
	color: #000;
	font-size: 16px;
	text-align: center;
	margin-bottom: 30px;
}
.exit-promoter-modal .popup-close{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}
.exit-promoter-modal .popup-close:hover,
.exit-promoter-modal .popup-close:focus{
    opacity: 0.95;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow a{
	color: #000066;
	padding: 0;
	text-decoration: underline;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow a:hover,
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow a:focus,
.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow a:active{
    color: #31b700;
    outline: none;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoError {
    top: 45px !important;
    right: -20px !important;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoError .mktoErrorArrowWrap {
    color: #f83000;
    left: -webkit-calc(50% - 8px);
    left: calc(50% - 8px);
    box-shadow: none;
    border: none;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoError .mktoErrorArrow {
    border: none;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoError .mktoErrorMsg {
    background-color: #f5330b;
    background-image: none;
    border: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: none;
    font-family: inherit;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #fff;
    text-shadow: none;
    padding: 16px 20px 14px !important;
}
.exit-promoter-modal .form-wrapper .mktoForm .mktoError .mktoErrorMsg:focus{
    outline: none;
}
/* 2nd step */
.exit-promoter-modal .mktoTemplateBox{
    text-align: center;
    margin: 0 auto;
    min-height: 250px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
}
.exit-promoter-modal .mktoTemplateBox br{
    display: none;
}
.exit-promoter-modal .mktoTemplateBox .mktoButtonWrap{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
.exit-promoter-modal .mktoTemplateBox a.mktoNotYou{
    text-decoration: underline;
    color: #000066;
}
.exit-promoter-modal .mktoTemplateBox a.mktoNotYou:hover,
.exit-promoter-modal .mktoTemplateBox a.mktoNotYou:focus{
    color: #31b700;
}
.exit-promoter-modal.only_email .form-popup-inner {
    min-height: 363px;
}
.exit-promoter-modal.only_email .form-wrapper .mktoForm .mktoFormRow {
    width: 100% !important;
    max-width: 383px !important;
    margin: 0 auto !important;
}
@media screen and (max-width: 1199px){
	.exit-promoter-modal .popup-container{
		margin: 70px auto;
		min-height: -webkit-calc(100% - (70px * 2));
		min-height: calc(100% - (70px * 2));
	}
	.exit-promoter-modal .popup-container:before {
    	height: -webkit-calc(100% - (70px * 2));
    	height: calc(100vh - (70px * 2));
	}
}
@media screen and (max-width: 991px){
	.exit-promoter-modal .popup-container{
		margin: 70px auto;
		min-height: -webkit-calc(100% - (70px * 2));
		min-height: calc(100% - (70px * 2));
	}
	.exit-promoter-modal .popup-container:before {
    	height: -webkit-calc(100% - (70px * 2));
    	height: calc(100vh - (70px * 2));
	}
}
@media screen and (max-width: 767px){
	.exit-promoter-modal .popup-container{
		margin: 70px auto;
		min-height: -webkit-calc(100% - (70px * 2));
		min-height: calc(100% - (70px * 2));
	}
	.exit-promoter-modal .popup-container:before {
    	height: -webkit-calc(100% - (70px * 2));
    	height: calc(100vh - (70px * 2));
	}
	.exit-promoter-modal .form-popup-inner{
		max-width: 315px;
		padding: 40px 20px;
	}
	.exit-promoter-modal .form-wrapper form.mktoForm{
    	margin: 0;
    	padding: 0;
	}
	.exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow{
		padding: 0;
		max-width: 100% !important;
	    width: 100% !important;
    }
    .exit-promoter-modal .form-wrapper .mktoForm .mktoFormRow.TandC-row{
        margin: 8px auto 14px;
    }
	.exit-promoter-modal .form-wrapper .mktoForm .mktoFormCol {
    	margin-bottom: 5px !important;
	}
}
@media screen and (max-width: 370px){
	.exit-promoter-modal .form-popup-inner{
	    max-width: 270px;
	}
	.exit-promoter-modal .form-wrapper .mktoForm .mktoButtonWrap .mktoButton{
		letter-spacing: normal;
	}
}
</style>